@font-face {
    font-family: "Pixel";
    src: url("https://warze.org/static/fonts/pixel.ttf");
}
body {
    background-image: url("/assets/casino3bg.png");
    background-size: 192px 192px;
    overflow: hidden;
    margin: 0;
}
#screen {
    top: 0;
    left: 0;
    position: fixed;
    pointer-events: none;
}
button {
    display: inline;
    border: none;
    font-family: "Pixel";
    color: white;
    background-color: darkgrey;
    height: 30px;
    cursor: pointer;
}
button:hover {
    background-color: grey;
}
.gearicon {
    position: fixed;
    top: 10px;
    left: 10px;
}
#settingsscreen {
    background-color: rgba(50, 50, 50, 0.8);
    border: 6px solid rgba(80, 80, 80, 0.4);
    box-shadow: 6px 6px 2px rgba(20, 20, 20, 0.3);
    display: none;
    position: fixed;
    width: 40%;
    height: 40vh;
    left: 30%;
    top: 30vh;
    padding: 20px;
}
h1 {
    font-family: "Pixel";
    font-size: 20px;
    color: white;
    display: inline;
}
input {
    width: 30px;
    height: 30px;
    border: 2px solid white;
    background-color: transparent;
}
.smallertext {
    font-size: 12px;
    opacity: 0.7;
}